nav {
    background-color: lightseagreen;
}

.searchbar {
    border-radius: 15px;
}


.form-center {
    position: relative;
    width: 200px;
    margin: auto;
}


.nav-item {
    float: right;
}
.navbar-nav > li > a > strong {
    color: white;
}

.navbar-nav > li > a > strong:hover {
    color: black;
}

.navbar-brand > strong {
    color: white;
}

.navbar-brand > strong:hover {
    color: black;
}
