.btn-primary {
    background-color: #FFF;
    color: lightseagreen;
    border-color: lightseagreen;
    border-radius: 25px;
}

.btn-primary:hover {
    background-color: lightseagreen;
    border-color: lightseagreen;
}
